@property --cell-size {
  syntax: '<length>';
  inherits: true;
  initial-value: 9vmin;
}
@property --cell-border {
  syntax: '<length>';
  inherits: true;
}
@property --city-width {
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}
@property --city-height {
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}
@property --mark-grid-cols {
  syntax: '<number>';
  inherits: true;
}
@property --mark-grid-rows {
  syntax: '<number>';
  inherits: true;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  background-color: teal;
  color: #222;
  display: flex;
  flex-direction: column;
  --cell-border: max(1px, 0.035em);
  --cell-size: 9vmin;
  font-size: calc(var(--cell-size) / 1.5);
}

header {
  background-color: deepskyblue;
  box-shadow: 0 0 0.5rem #0006;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 0;
  font-size: 1em;
  line-height: 1;
  font-weight: 100;
}
header button {
  background: none;
  border: none;
  font-size: 1em;
  color: inherit;
  cursor: pointer;
  width: max(44px, 1em);
  height: max(44px, 1em);
  padding: max(4.4px, 0.1em);
}
header button:disabled {
  /* This should produce a sufficient contrast ratio */
  opacity: 0.575;
  cursor: not-allowed;
}
header button:hover:not(:disabled) {
  background-color: #fff6;
}
header svg {
  display: block;
  fill: currentColor;
}

[data-input-mode='mixed'] [data-icon]:not([data-icon='keyboard-mouse']),
[data-input-mode='pointer'] [data-icon]:not([data-icon='finger']),
[data-input-mode='keyboard'] [data-icon]:not([data-icon='keyboard']) {
  display: none;
}

section {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  line-height: var(--cell-size);
  text-align: center;
  font-size: calc(var(--cell-size) / 1.5);
  margin: 1em 0;
}
.hints {
  background-color: lightblue;
  display: flex;
  box-shadow: 0 0 0 var(--cell-border) black;
}
.top {
  grid-area: 1 / 2 / 2 / 3;
  height: var(--cell-size);
}
.right {
  grid-area: 2 / 3 / 3 / 4;
  width: var(--cell-size);
  flex-direction: column;
}
.bottom {
  grid-area: 3 / 2 / 4 / 3;
  height: var(--cell-size);
  flex-direction: row-reverse;
}
.left {
  grid-area: 2 / 1 / 3 / 2;
  width: var(--cell-size);
  flex-direction: column-reverse;
}

.city {
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  width: calc(var(--cell-size) * var(--city-width, 1));
  height: calc(var(--cell-size) * var(--city-height, 1));
  grid-template-columns: repeat(var(--city-width), minmax(0, var(--cell-size)));
  background-color: white;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  box-shadow: inset 0 0 0 var(--cell-border);
  display: grid;
  grid-template-columns: repeat(var(--mark-grid-cols), 1fr);
  grid-template-rows: repeat(var(--mark-grid-rows), 1fr);
}
.error {
  color: red;
}

.value {
  grid-area: 1 / 1 / span var(--mark-grid-rows) / span var(--mark-grid-cols);
}

.mark {
  display: none;
  pointer-events: none;
  font-size: calc(1em / var(--mark-grid-rows));
  line-height: calc(var(--cell-size) / var(--mark-grid-rows));
}
.mark::before {
  content: attr(data-value);
}
.value:empty ~ .mark {
  display: block;
}

.errors {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  transform: translate(0, -100%);
  font-size: 75%;
  background: red;
  color: white;
  margin-block-start: -0.5em;
}

aside {
  font-size: calc(var(--cell-size) / 2);
  display: flex;
  justify-content: center;
}

aside button {
  border: solid calc(var(--cell-border) * 2);
  border-radius: 50%;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: inherit;
  font-weight: inherit;
}

.input,
.mode {
  background: gainsboro;
  font-weight: bold;
}
[data-game-mode='mark'] .mode::before {
  content: '1\A0 2\0A 3\A0 4';
  font-size: 60%;
  white-space: pre;
}
[data-game-mode='enter'] .mode::before {
  content: '#';
}

.selectors {
  display: flex;
  margin-inline-start: 1em;
}
.selectors > button {
  background: khaki;
}

/* Input-mode specific styles */

/* Mixed mode */

/* Pointer mode */
[data-input-mode='pointer'] .selectors [aria-current='true'] {
  box-shadow: inset 0 0 0 var(--cell-border) red;
  background-color: white;
}

/* Keyboard mode */

[data-input-mode='keyboard'] .value[aria-current='true'],
[data-input-mode='mixed'] .value[contenteditable='true'] {
  border-color: lightcoral;
  box-shadow: 0 0 0 calc(var(--cell-size) / 15) lightcoral;
  position: relative;
}

@media (any-hover: hover) {
  .city > .cell:hover {
    background-color: khaki;
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    filter: invert(1);
  }
} */

@media (orientation: landscape) {
  body {
    flex-direction: row;
    min-height: 100vh;
  }

  header {
    height: auto;
    flex-direction: column-reverse;
  }
  header div[role='toolbar'] {
    width: min-content;
  }

  h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  section {
    margin: auto 1em auto auto;
  }

  aside {
    flex-direction: column;
    margin-inline-end: auto;
  }

  .selectors {
    flex-direction: column;
    margin-block-start: 1em;
    margin-inline-start: auto;
  }
}
